.header {
    width : 50%;
    height : 10vh; 
    background-color: lightskyblue;
    margin-left: 300px;
}
.logo{
    margin-right: 200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    padding: 30px 10%;
    background-color: lightblue;
}

nav li{
    display: inline-block;
}

.login{
    text-align: right;
    list-style: none;
    padding: 0px 20px;
}
.banner {
    min-height: 100vh;
    position: relative;
    background-image: url("background.jpg");
    opacity: 0.40;
    text-align: center;
    isolation: isolate;
}

.banner::after{
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

div h1{
    padding-top: 300px;
}

.main{
    position: absolute;
    top:0;
}